<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
  <h2>Home page</h2>
  <hr>
  <p>
      Welcome to the home page
  </p>
  <hr>
    <p>
        User : <span sec:authentication="principal.username"></span>
        <br>
        Role : <span sec:authentication="principal.authorities"></span>
    </p>
  <hr>
  <div sec:authorize="hasRole('MANAGER')">
      <p>
          <a th:href="@{/leaders}">Leadership Meeting</a>
      </p>
      <hr>
  </div>
  <div sec:authorize="hasRole('ADMIN')">
      <p>
          <a th:href="@{/system}">Admin Portal</a>
      </p>
      <hr>
  </div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>